
@{
    ViewBag.Title = "Spor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Ayakkabi_Projesi.Data.Ayakkabi>

<section>

    <div class="col-sm-9 padding-right">
        <div class="features_items">
            <!--features_items-->
            <h2 class="title text-center">Spor Ayakkabıları</h2>

            @foreach (var item in Model)
            {
                if (item.AltKategoriID == 12)
                {
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img width="1250" height="270" src="/images/@item.Resimyolu" alt="" />
                                    <h2>@item.Fiyat TL</h2>
                                    <p>@string.Format("{0} - {1}", item.Marka, item.Model)</p>

                                    <a href="@item.AyakkabiID" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekle</a>
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>@item.Fiyat TL</h2>
                                        <p>@item.Model</p>
                                        <a href="#@item.AyakkabiID" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekle</a>
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                }

            }


        </div><!--features_items-->
    </div>

</section>


